.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bold;
}

.pokemonChosen {
  display: flex;
  flex-direction: row;
  padding: 1vh 1vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin-bottom: 2vh;
}

.inventory {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
}

.leaderContainer {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  align-items: center;
}

.leaderImageContainer {
  display: flex;
  flex-direction: row;
}

.leaderPokemonContainer {
  display: flex;
  flex-direction: column;
}

.optionPokemon {
  background: none;
  border: none;
}

.green {
  padding: 2vh 8vw;
  font-weight: bold;
  font-size: large;
  border-radius: 20px;
  background-color: rgb(138, 247, 29);
}

.red {
  padding: 2vh 8vw;
  color: white;
  background-color: black;
  border-color: black;
}

.leaderImage {
  width: 10vw;
}

.battleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding-bottom: 1vh;
}

.npcContainer {
  width: 80%;
  flex-direction: column;
  align-items: center;
  /* padding: ; */
}

.imageContainer {
  display: flex;
  justify-content: flex-end;
  /* padding: 5vh 5vw; */
}

.userImageContainer {
  display: flex;
  justify-content: flex-start;
  /* padding: 5vh 5vw; */
}

.userMoveImageContainer {
  display: flex;
  justify-content: flex-start;
  /* padding: 5vh 5vw; */
  animation-name: usermove;
  animation-iteration-count: initial;
  animation-duration: 2s;
}

.npcImageContainer {
  padding: 5vh 5vw;
}

.npcMoveImageContainer {
  padding: 5vh 5vw;
  animation-name: npcmove;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.npcImage {
  width: 10vw;
}

.npcImageRip {
  width: 10vw;
  animation: rip;
  animation-iteration-count: initial;
  animation-duration: 3s;
}

.userImage {
  width: 12vw;
}

.userImageRip {
  width: 12vw;
  animation: rip;
  animation-iteration-count: initial;
  animation-duration: 3s;
}

.moveContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  padding-top: 2px;
  /* padding: 1vh 1vw; */
}

.chargedMove {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.chargedMove > button {
  background-color: red;
  width: 100%;
  height: 5vh;
  border-radius: 20px;
}

.unchargedMove {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 5vh;
  /* background-color: grey; */
  border-radius: 20px;
}

.sparePokemons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #393838;
  opacity: 1;
}

.sparePokemons > button {
  background-color: #393838;
  border: none;
}

.sparePokemons > button > img {
  width: 5vw;
}

.npcAnimation {
  position: absolute;
  width: 20vw;
  animation-name: npcanimate;
  opacity: 0;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes rip {
  100% {
    opacity: 0;
  }
}

@keyframes npcmove {
  10% {
    padding-right: 10vw;
  }
  100% {
    padding-right: 5vw;
  }
}

@keyframes usermove {
  10% {
    padding-left: 5vw;
  }
  100% {
    padding-left: 0vw;
  }
}

@keyframes npcanimate {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .sparePokemons > button > img {
    width: 12vw;
  }
  .moveContainer {
    width: 100vw;
  }
  .npcAnimation {
    width: 35vw;
  }
  .npcImage {
    width: 30vw;
  }

  .npcImageRip {
    width: 30vw;
  }

  .userImage {
    width: 40vw;
  }

  .userImageRip {
    width: 40vw;
  }

  .battleContainer {
    width: 100vw;
  }
  .leaderImage {
    width: 40vw;
  }
  .inventory {
    grid-template-columns: 20vw 20vw 20vw 20vw;
  }
  .green {
    padding: 2vh 25vw;
  }
}
